<h3 class="mt-2">Profile</h3>

@if (_member is null)
{
    <span>Loading User...</span>
}
else
{
    <button @onclick="DisplayEditProfileDialog" class="btn btn-warning mt-2 me-2" title="Edit">Edit Profile</button>
    <button @onclick="DisplayPswdDialog" class="btn btn-warning mt-2 me-2" title="Change Password">Change Password</button>

    <table class="table table-striped mt-3">
        <thead class="table-primary">
            <tr>
                <th>Information</th>
                <th>User</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Pseudo</td>
                <td>@_member.Pseudo</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@_member.Email</td>
            </tr>
            <tr>
                <td>Firstname</td>
                <td>@_member.Firstname</td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td>@_member.Lastname</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>@RoleName(_member.Role)</td>
            </tr>
        </tbody>
    </table>
}
@if (_displayEditProfileDialog)
{
    <MemberEdit MemberTarget="@_member" OnCancel="CloseEditDialog" OnConfirm="ConfirmEdit" />
}
else if (_displayChangePswdDialog)
{
    <MemberChangePswd MemberId="@_memberId" OnCancel="ClosePswdDialog" />
}