<h2 class="mt-3">Users list</h2>

@if (_members.Count == 0)
{
    <span>Loading users list...</span>
}
else
{
    <table class="table table-striped mt-4">
        <thead class="table-primary">
            <tr>
                <th>
                    Pseudo
                </th>
                <th>
                    Email
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (MemberModel member in _members)
            {
                @if (member.Disabled == false)
                {

                    <tr>
                        <td>
                            @member.Pseudo
                        </td>

                        <td>
                            @member.Email
                        </td>

                        <td>
                            <button class="btn @((member.IdMember == _memberTarget.IdMember && _displayDetailsDialog) ? "btn-secondary":"btn-primary")"
                        @onclick="() => DisplayDetailsDialog(member)" title="Details">
                                <img src="/custom-icons/arrows-angle-expand.svg" alt="Details" />
                            </button>
                            <button class="btn @((member.IdMember == _memberTarget.IdMember && _displayEditDialog) ? "btn-secondary":"btn-warning") ms-1"
                        @onclick="() => DisplayEditDialog(member)" title="Edit">
                                <img src="/custom-icons/pen.svg" alt="Edit" />
                            </button>
                            <button class="btn btn-danger ms-1" @onclick="() => DeleteMember(member.IdMember)" title="Delete">
                                <img src="/custom-icons/trash3.svg" alt="Delete" />
                            </button>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>

    @if (_displayDetailsDialog)
    {
        <DetailsMember MemberTarget="@_memberTarget" OnCancel="CloseDetailsDialog" />
    }
    else if (_displayEditDialog)
    {
        <EditMember MemberTarget="@_memberTarget" OnCancel="CloseEditDialog" OnConfirm="ConfirmEdit" />
    }
}
