<h3 class="mt-4">Register :</h3>

@if (_isRegistrationValid)
{
    <span class="text-success">Registration completed! Please login above to access the application.</span>
}

<div class="mt-3">
    <EditForm Model="@MemberRegistration" OnValidSubmit="@SubmitRegistration" class="p-4 p-md-5 border rounded-3 bg-light">
        <DataAnnotationsValidator />

        <label for="Pseudo">
            Pseudo: @if (_displayPseudoTaken)
            {
                <span class="text-danger"> /!\ This pseudo is already taken.</span>
            }
        </label>
        <InputText id="Pseudo" @bind-Value="@MemberRegistration.Pseudo" class="form-control" />

        <label for="Email">
            Email: @if (_displayEmailTaken)
            {
                <span class="text-danger"> /!\ This email is already taken.</span>
            }
        </label>
        <InputText id="Email" @bind-Value="@MemberRegistration.Email" class="form-control" />

        <label for="Password">Password:</label>
        <InputText type="password" id="Password" @bind-Value="@MemberRegistration.Password" class="form-control" />

        <label for="ConfirmPassword">Confirm Password:</label>
        <InputText type="password" id="ConfirmPassword" @bind-Value="@MemberRegistration.ConfirmPassword" class="form-control" />

        <button type="submit" class="btn btn-success mt-2" title="Confirm">Confirm registration</button>

        <ValidationSummary />
    </EditForm>
</div>