<h3 class="mt-2">Member details</h3>
@if (MemberTarget is null)
{
    <span>Loading User...</span>
}
else
{
    <table class="table table-striped mt-3" @ref="focusRef">
        <thead class="table-primary">
            <tr>
                <th>Information</th>
                <th>User</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Pseudo</td>
                <td>@MemberTarget.Pseudo</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@MemberTarget.Email</td>
            </tr>
            <tr>
                <td>Firstname</td>
                <td>@MemberTarget.Firstname</td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td>@MemberTarget.Lastname</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>@RoleName(MemberTarget.Role)</td>
            </tr>
        </tbody>
    </table>

    <button @onclick="OnCancel" class="btn btn-primary mt-2" title="Close">Close</button>
}