<h2 class="mt-3">My Tickets</h2>
@if (_myTickets.Count == 0)
{
    <span class="mt-2">Loading tickets list...</span>
}
else
{
    <p class="fs-3 fw-normal mt-4">To-do (@(_myTickets.Count(t => t.Status == 1)))</p>
    @if (_myTickets.Count(t => t.Status == 1) != 0)
    {
        <table class="table table-warning">
            <caption>To-do</caption>
            <thead class="table-primary">
                <tr>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Project</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TicketModel ticket in _myTickets)
                {
                    @if (ticket.Status == 1)
                    {

                        <tr>
                            <td>@ticket.Title </td>
                            <td>
                                @switch (ticket.Priority)
                                {
                                    case 1:
                                        @:High
                                        break;
                                    case 2:
                                        @:Medium
                                        break;
                                    case 3:
                                        @:Low
                                        break;
                                }
                            </td>
                            <td>
                                @if (_projects.Count != 0)
                                {
                                    @_projects.Where(project => project.IdProject == ticket.Project).SingleOrDefault().Name
                                }
                            </td>
                            <td>
                                <button class="btn @((ticket.IdTicket == _ticketTarget.IdTicket && _displayTicketDetailsDialog) ? "btn-secondary":"btn-primary")"
                        @onclick="() => DisplayTicketDetailsDialog(ticket, 1)" title="Details">
                                    <img src="/custom-icons/arrows-angle-expand.svg" alt="Details" />
                                </button>
                                <button class="btn @((ticket.IdTicket == _ticketTarget.IdTicket && _displayEditTicketDialog) ? "btn-secondary":"btn-warning") ms-1"
                        @onclick="() => DisplayTicketEditDialog(ticket, 1)" title="Edit">
                                    <img src="/custom-icons/pen.svg" alt="Edit" />
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @if (_displayTicketDetailsDialog && _statusTarget == 1)
        {
            <DetailsTicket OnCancel="@CloseDetailsDialog" TicketTarget="@_ticketTarget" />
        }
        else if (_displayEditTicketDialog && _statusTarget == 1)
        {
            <EditTicket OnCancel="@CloseEditDialog" OnConfirm="@ConfirmTicketEdit" TicketTarget="@_ticketTarget" />
        }
    }
    <p class="fs-3 fw-normal mt-4">In Progress (@(_myTickets.Count(t => t.Status == 2)))</p>
    @if (_myTickets.Count(t => t.Status == 2) != 0)
    {
        <table class="table table-warning">
            <caption>In Progress</caption>
            <thead class="table-primary">
                <tr>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Project</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TicketModel ticket in _myTickets)
                {
                    @if (ticket.Status == 2)
                    {

                        <tr>
                            <td>@ticket.Title </td>
                            <td>
                                @switch (ticket.Priority)
                                {
                                    case 1:
                                        @:High
                                        break;
                                    case 2:
                                        @:Medium
                                        break;
                                    case 3:
                                        @:Low
                                        break;
                                }
                            </td>
                            <td>
                                @if (_projects.Count != 0)
                                {
                                    @_projects.Where(project => project.IdProject == ticket.Project).SingleOrDefault().Name
                                }
                            </td>
                            <td>
                                <button class="btn @((ticket.IdTicket == _ticketTarget.IdTicket && _displayTicketDetailsDialog) ? "btn-secondary":"btn-primary")"
                        @onclick="() => DisplayTicketDetailsDialog(ticket, 2)" title="Details">
                                    <img src="/custom-icons/arrows-angle-expand.svg" alt="Details" />
                                </button>
                                <button class="btn @((ticket.IdTicket == _ticketTarget.IdTicket && _displayEditTicketDialog) ? "btn-secondary":"btn-warning") ms-1"
                        @onclick="() => DisplayTicketEditDialog(ticket, 2)" title="Edit">
                                    <img src="/custom-icons/pen.svg" alt="Edit" />
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @if (_displayTicketDetailsDialog && _statusTarget == 2)
        {
            <DetailsTicket OnCancel="@CloseDetailsDialog" TicketTarget="@_ticketTarget" />
        }
        else if (_displayEditTicketDialog && _statusTarget == 2)
        {
            <EditTicket OnCancel="@CloseEditDialog" OnConfirm="@ConfirmTicketEdit" TicketTarget="@_ticketTarget" />
        }
    }

    <p class="fs-3 fw-normal mt-4">Stuck (@(_myTickets.Count(t => t.Status == 3)))</p>
    @if (_myTickets.Count(t => t.Status == 3) != 0)
    {
        <table class="table table-danger">
            <caption>Stuck</caption>
            <thead class="table-primary">
                <tr>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Project</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TicketModel ticket in _myTickets)
                {
                    @if (ticket.Status == 3)
                    {

                        <tr>
                            <td>@ticket.Title </td>
                            <td>
                                @switch (ticket.Priority)
                                {
                                    case 1:
                                        @:High
                                        break;
                                    case 2:
                                        @:Medium
                                        break;
                                    case 3:
                                        @:Low
                                        break;
                                }
                            </td>
                            <td>
                                @if (_projects.Count != 0)
                                {
                                    @_projects.Where(project => project.IdProject == ticket.Project).SingleOrDefault().Name
                                }
                            </td>
                            <td>
                                <button class="btn @((ticket.IdTicket == _ticketTarget.IdTicket && _displayTicketDetailsDialog) ? "btn-secondary":"btn-primary")"
                        @onclick="() => DisplayTicketDetailsDialog(ticket, 3)" title="Details">
                                    <img src="/custom-icons/arrows-angle-expand.svg" alt="Details" />
                                </button>
                                <button class="btn @((ticket.IdTicket == _ticketTarget.IdTicket && _displayEditTicketDialog) ? "btn-secondary":"btn-warning") ms-1"
                        @onclick="() => DisplayTicketEditDialog(ticket, 3)" title="Edit">
                                    <img src="/custom-icons/pen.svg" alt="Edit" />
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @if (_displayTicketDetailsDialog && _statusTarget == 3)
        {
            <DetailsTicket OnCancel="@CloseDetailsDialog" TicketTarget="@_ticketTarget" />
        }
        else if (_displayEditTicketDialog && _statusTarget == 3)
        {
            <EditTicket OnCancel="@CloseEditDialog" OnConfirm="@ConfirmTicketEdit" TicketTarget="@_ticketTarget" />
        }
    }
    <p class="fs-3 fw-normal mt-4">Complete (@(_myTickets.Count(t => t.Status == 4)))</p>
    @if (_myTickets.Count(t => t.Status == 4) != 0)
    {
        <table class="table table-success">
            <caption>Complete</caption>
            <thead class="table-primary">
                <tr>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Project</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TicketModel ticket in _myTickets)
                {
                    @if (ticket.Status == 4)
                    {

                        <tr>
                            <td>@ticket.Title </td>
                            <td>
                                @switch (ticket.Priority)
                                {
                                    case 1:
                                        @:High
                                        break;
                                    case 2:
                                        @:Medium
                                        break;
                                    case 3:
                                        @:Low
                                        break;
                                }
                            </td>
                            <td>
                                @if (_projects.Count != 0)
                                {
                                    @_projects.Where(project => project.IdProject == ticket.Project).SingleOrDefault().Name
                                }
                            </td>
                            <td>
                                <button class="btn @((ticket.IdTicket == _ticketTarget.IdTicket && _displayTicketDetailsDialog) ? "btn-secondary":"btn-primary")"
                        @onclick="() => DisplayTicketDetailsDialog(ticket, 4)" title="Details">
                                    <img src="/custom-icons/arrows-angle-expand.svg" alt="Details" />
                                </button>
                                <button class="btn @((ticket.IdTicket == _ticketTarget.IdTicket && _displayEditTicketDialog) ? "btn-secondary":"btn-warning") ms-1"
                        @onclick="() => DisplayTicketEditDialog(ticket, 4)" title="Edit">
                                    <img src="/custom-icons/pen.svg" alt="Edit" />
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @if (_displayTicketDetailsDialog && _statusTarget == 4)
        {
            <DetailsTicket OnCancel="@CloseDetailsDialog" TicketTarget="@_ticketTarget" />
        }
        else if (_displayEditTicketDialog && _statusTarget == 4)
        {
            <EditTicket OnCancel="@CloseEditDialog" OnConfirm="@ConfirmTicketEdit" TicketTarget="@_ticketTarget" />
        }
    }
}