<h3 class="mt-4">Add a project</h3>
@if (_isProjectAdded)
{
    <span class="text-success">Project added successfully !</span>
}
<EditForm Model="@AddedProject" OnValidSubmit="@SubmitAdd">
    <DataAnnotationsValidator />

    <label for="Name">
        Name: @if (_displayNameTaken)
        {
            <span class="text-danger"> /!\ This name is already taken.</span>
        }
    </label>
    <InputText id="Name" @bind-Value="@AddedProject.Name" class="form-control" />

    <label for="Description">
        Description:
    </label>
    <InputText id="Description" @bind-Value="@AddedProject.Description" class="form-control" />

    <label for="Manager">
        Manager:
    </label>
    <InputSelect id="Manager" @bind-Value="@AddedProject.Manager" class="form-control">
        @if (_members.Count != 0)
        {
            <option value="" disabled>Select..</option>
            @foreach (MemberModel member in _members)
            {
                @if (member.Activated == true)
                {
                    <option value="@member.IdMember">@member.Pseudo</option>
                }
            }
        }
    </InputSelect>
    <button type="submit" class="btn btn-success mt-2 me-2" title="Add">Confirm add</button>
    <button @onclick="OnCancel" class="btn btn-primary mt-2" title="Cancel">Cancel</button>
    <ValidationSummary />
</EditForm>
