
<h2 class="mt-2">Projects List</h2>

<button @onclick="DisplayAddProjectDialog" class="btn btn-primary">Add project</button>

@if (_projects.Count == 0)
{
    <span class="mt-2">Loading projects list...</span>
}
else
{
    <table class="table table-striped mt-2">
        <thead class="table-primary">
            <tr>
                <th>Name</th>
                <th>Manager</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           @foreach (ProjectModel project in _projects)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.Manager</td>
                    <td>
                         <button class="btn btn-primary" @onclick="() => DisplayProjectDetailsDialog(project)">
                            <img src="/custom-icons/arrows-angle-expand.svg" alt="Project Details" />
                        </button>
                        <button class="btn btn-warning ms-1" @onclick="() => DisplayProjectEditDialog(project)">
                            <img src="/custom-icons/pen.svg" alt="Edit Project" />
                        </button>
                        <button class="btn btn-danger ms-1" @onclick="() => DeleteProject(project.IdProject)">
                            <img src="/custom-icons/trash3.svg" alt="Delete Project" />
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (_displayAddProjectDialog)
    {
        <AddProject OnCancel="@CloseAddDialog" OnConfirm="RefreshProjectsList"/>
    }
    else if (_displayProjectDetailsDialog)
    {
        <DetailsProject OnCancel="@CloseDetailsDialog" ProjectTarget="@_projectTarget"/>
    }
    else if (_displayEditProjectDialog)
    {
        <EditProject OnCancel="@CloseEditDialog" OnConfirm="@ConfirmProjectEdit" ProjectTarget="@_projectTarget"/>
    }
}