<h2 class="mt-4">Projects</h2>

<button @onclick="DisplayAddDialog" class="btn @((_displayAddDialog) ? "btn-secondary" : "btn-success") mt-4" title="Add">Add Project</button>

@if (_projects.Count == 0)
{
    <span class="mt-2">Loading projects list...</span>
}
else
{
    <table class="table table-striped mt-3">
        <thead class="table-primary">
            <tr>
                <th>Name</th>
                <th>Manager</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (ProjectModel project in _projects)
            {
                @if (!project.Disabled)
                {
                    <tr>
                        <td>@project.Name</td>

                        <td>
                            @if (_members.Count != 0)
                            {
                                @_members.Where(member => member.IdMember == project.Manager).SingleOrDefault()?.Pseudo
                            }
                        </td>

                        <td>
                            <button class="btn @((project.IdProject == _projectTarget.IdProject && _displayDetailsDialog) ? "btn-secondary":"btn-primary")"
                        @onclick="() => DisplayDetailsDialog(project)" title="Details">
                                <img src="/custom-icons/arrows-angle-expand.svg" alt="Details" />
                            </button>

                            <button class="btn @((project.IdProject == _projectTarget.IdProject && _displayEditDialog) ? "btn-secondary":"btn-warning") ms-1"
                        @onclick="() => DisplayEditDialog(project)" title="Edit">
                                <img src="/custom-icons/pen.svg" alt="Edit" />
                            </button>

                            <button class="btn btn-danger ms-1" @onclick="() => DeleteProject(project.IdProject)" title="Delete">
                                <img src="/custom-icons/trash3.svg" alt="Delete" />
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (_displayAddDialog)
    {
        <AddProject OnCancel="@CloseAddDialog" OnConfirm="@RefreshProjectList" />
    }
    else if (_displayDetailsDialog)
    {
        <DetailsProject OnCancel="@CloseDetailsDialog" ProjectTarget="@_projectTarget" />
    }
    else if (_displayEditDialog)
    {
        <EditProject OnCancel="@CloseEditDialog" OnConfirm="@ConfirmEdit" ProjectTarget="@_projectTarget" />
    }
}