<h3>Edit a project</h3>

<EditForm Model="@EditedProject" OnValidSubmit="@SubmitEdit">
    <DataAnnotationsValidator />
    <label for="Name">
        Name: @if (_displayNameTaken)
        {
            <span class="text-danger"> /!\ This name is already taken.</span>
        }
    </label>
    <InputText id="Name" @bind-Value="@EditedProject.Name" class="form-control" />

    <label for="Description">
        Description:
    </label>
    <InputText id="Description" @bind-Value="@EditedProject.Description" class="form-control" />

    <label for="Manager">
        Manager:
    </label>
    <InputSelect id="Manager" @bind-Value="@EditedProject.Manager" class="form-control">
        @if (_members.Count != 0)
        {
            <option value="">Select..</option>
            @foreach (MemberModel member in _members)
            {
                @if (member.Activated == true)
                {
                    <option value="@member.IdMember">@member.Pseudo</option>
                }
            }
        }
    </InputSelect>
    <button type="submit" class="btn btn-warning">Confirm edit</button>
    <button @onclick="OnCancel" class="btn btn-primary">Cancel</button>
    <ValidationSummary />
</EditForm>
