@page "/members"
<h5>DisplayMembers</h5>
<ul>
    @if (members.Count == 0)
    {
        @:Chargement du composant affichant les membres...
    }
    else {
        @foreach (MemberModel member in members) {
            <li class="mt-4">Member Id : @member.IdMember </li>
            <li>Member Pseudo : @member.Pseudo </li>
            <li>Member Password : @member.PswdHash </li>
            <li>Member Email : @member.Email </li>
            <button @onclick="() => DeleteMember(member.IdMember)">Delete Member</button>
            <button @onclick="() => DisplayEditMember(member.IdMember)">Edit Member</button>
            @if (isEditMemberDisplayed && member.IdMember == idEditMemberDisplayed)
            {
                <EditMember MemberTarget="@member"/>
            }
        }
}
</ul>

