<h5>DisplayMembers</h5>
<ul>
    @if (_Members.Count == 0)
    {
        @:Chargement du composant affichant les membres...
    }
    else {
        @foreach (MemberModel member in _Members) {
            <li class="mt-4">Member Id : @member.IdMember </li>
            <li>Member Pseudo : @member.Pseudo </li>
            <li>Member Password : @member.PswdHash </li>
            <li>Member Email : @member.Email </li>
            <button @onclick="() => DeleteMember(member.IdMember)">Delete Member</button>
            <button @onclick="() => DisplayEditMemberDialog(member.IdMember)">Edit Member</button>
            @if (_isEditMemberDialogOpen && member.IdMember == _memberEditId)
            {
                <EditMember MemberEditId="@_memberEditId" OnCancel="CloseEditMemberDialog" OnConfirm="ConfirmMemberEdit"/>
            }
        }
}
</ul>

