<h5>EditMember</h5>

<EditForm Model="@memberEdit" OnValidSubmit="@(() => SubmitEdit(memberEdit.IdMember))">
    <DataAnnotationsValidator/>
    <label for="Pseudo">
        Pseudo: @if (isPseudoTaken)
        {
            <span class="text-danger">Pseudo already taken</span>
        }
    </label>
    <InputText id="Pseudo" @bind-Value="@memberEdit.Pseudo" class="form-control"/>

     <label for="Email">
        Email: @if (isEmailTaken)
        {
            <span class="text-danger"> Email already taken</span>
        }
    </label>
    <InputText id="Email" @bind-Value="@memberEdit.Email" class="form-control"/>

    <label for="Password">Password:</label>
    <InputText id="Password" @bind-Value="@memberEdit.Password" class="form-control"/>

    <label for="Firstname">Firstname:</label>
    <InputText id="Firstname" @bind-Value="@memberEdit.Firstname" class="form-control"/>

    <label for="Lastname">Lastname:</label>
    <InputText id="Lastname" @bind-Value="@memberEdit.Lastname" class="form-control"/>

    <button type="submit" class="btn btn-primary">Confirm edit</button>
    <ValidationSummary/>
</EditForm>