<h3>Edit form</h3>

<EditForm Model="@MemberEdited" OnValidSubmit="@SubmitEdit">
    <DataAnnotationsValidator/>
    <label for="Pseudo">
        Pseudo: @if (_displayPseudoTaken)
        {
            <span class="text-danger"> Pseudo already taken!</span>
        }
    </label>
    <InputText id="Pseudo" @bind-Value="@MemberEdited.Pseudo" class="form-control"/>

     <label for="Email">
        Email: @if (_displayEmailTaken)
        {
            <span class="text-danger"> Email already taken!</span>
        }
    </label>
    <InputText id="Email" @bind-Value="@MemberEdited.Email" class="form-control"/>

    <label for="Firstname">Firstname:</label>
    <InputText id="Firstname" @bind-Value="@MemberEdited.Firstname" class="form-control"/>

    <label for="Lastname">Lastname:</label>
    <InputText id="Lastname" @bind-Value="@MemberEdited.Lastname" class="form-control"/>

    <button type="submit" class="btn btn-primary">Confirm edit</button>
    <button @onclick="OnCancel" class="btn btn-primary">Cancel</button>
    <ValidationSummary/>
</EditForm>

