<h5>EditMember</h5>

<EditForm Model="@MemberEditModel" OnValidSubmit="@SubmitEdit">
    <DataAnnotationsValidator/>
    <label for="Pseudo">
        Pseudo: @if (isPseudoTaken)
        {
            <span class="text-danger"> Pseudo already taken!</span>
        }
    </label>
    <InputText id="Pseudo" @bind-Value="@MemberEditModel.Pseudo" class="form-control"/>

     <label for="Email">
        Email: @if (isEmailTaken)
        {
            <span class="text-danger"> Email already taken!</span>
        }
    </label>
    <InputText id="Email" @bind-Value="@MemberEditModel.Email" class="form-control"/>

    <label for="Password">Password:</label>
    <InputText id="Password" @bind-Value="@MemberEditModel.Password" class="form-control"/>

    <label for="Firstname">Firstname:</label>
    <InputText id="Firstname" @bind-Value="@MemberEditModel.Firstname" class="form-control"/>

    <label for="Lastname">Lastname:</label>
    <InputText id="Lastname" @bind-Value="@MemberEditModel.Lastname" class="form-control"/>

    <button type="submit" class="btn btn-primary">Confirm edit</button>
    <ValidationSummary/>
</EditForm>
@if (hasMemberBeenEdited)
{
    <span class="text-success">Edit has been successful!</span>
}

