
<h5>Register Member</h5>

<EditForm Model="@_MemberRegistrationModel" OnValidSubmit="@SubmitRegistration">
    <DataAnnotationsValidator/>
    <label for="Pseudo">
        Pseudo: @if (_isPseudoTaken)
        {
            <span class="text-danger"> Pseudo already taken!</span>
        }
    </label>
    <InputText id="Pseudo" @bind-Value="@_MemberRegistrationModel.Pseudo" class="form-control"/>

     <label for="Email">
        Email: @if (_isEmailTaken)
        {
            <span class="text-danger"> Email already taken!</span>
        }
    </label>
    <InputText id="Email" @bind-Value="@_MemberRegistrationModel.Email" class="form-control"/>

    <label for="Password">Password:</label>
    <InputText id="Password" @bind-Value="@_MemberRegistrationModel.Password" class="form-control"/>

    <label for="ConfirmPassword">Confirm Password:</label>
    <InputText id="ConfirmPassword" @bind-Value="@_MemberRegistrationModel.ConfirmPassword" class="form-control"/>

    <label for="Firstname">Firstname:</label>
    <InputText id="Firstname" @bind-Value="@_MemberRegistrationModel.Firstname" class="form-control"/>

    <label for="Lastname">Lastname:</label>
    <InputText id="Lastname" @bind-Value="@_MemberRegistrationModel.Lastname" class="form-control"/>

    <button type="submit" class="btn btn-primary">Confirm registration</button>
    <ValidationSummary/>
</EditForm>
@if (_isRegistrationValid) 
{
    <span class="text-success">Registration completed! Please login to access the application.</span>
}