@inject NavigationManager navManager
<h5>Register Member</h5>

<EditForm Model="@memberRegistrationModel" OnValidSubmit="@SubmitRegistration">
    <DataAnnotationsValidator/>
    <label for="Pseudo">
        Pseudo: @if (isPseudoTaken)
        {
            <span class="text-danger"> Pseudo already taken!</span>
        }
    </label>
    <InputText id="Pseudo" @bind-Value="@memberRegistrationModel.Pseudo" class="form-control"/>

     <label for="Email">
        Email: @if (isEmailTaken)
        {
            <span class="text-danger"> Email already taken!</span>
        }
    </label>
    <InputText id="Email" @bind-Value="@memberRegistrationModel.Email" class="form-control"/>

    <label for="Password">Password:</label>
    <InputText id="Password" @bind-Value="@memberRegistrationModel.Password" class="form-control"/>

    <label for="ConfirmPassword">Confirm Password:</label>
    <InputText id="ConfirmPassword" @bind-Value="@memberRegistrationModel.ConfirmPassword" class="form-control"/>

    <label for="Firstname">Firstname:</label>
    <InputText id="Firstname" @bind-Value="@memberRegistrationModel.Firstname" class="form-control"/>

    <label for="Lastname">Lastname:</label>
    <InputText id="Lastname" @bind-Value="@memberRegistrationModel.Lastname" class="form-control"/>

    <button type="submit" class="btn btn-primary">Confirm registration</button>
    <ValidationSummary/>
</EditForm>